.logo{
    width:200px;
    height: 64px;
    background: skyblue;
}
.my-header{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 0px;
}
.my-header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my-content{
    margin-top:30px;
   
}
.in-my-content{
    background: #fff;
    min-height: 800px;
}