.logo{
    width:200px;
    height: 64px;
    background: skyblue;
    line-height: 64px;
    text-align: center;
}
.my-header{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 0px;
}
.my-header-flex{
    width:1200px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my-content{
    width:1200px;
    margin:20px auto;
   
}

.my-left-content{
    background: #fff;
    min-height: 800px;
}
.my-right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-announcement{
    background: #fff;
}
.my-new-comment{
    background: #fff;
    margin-top:20px;
}
.my-gutter{
    margin-left:0!important;
}